body {
  background-color: rgb(255, 255, 255);
  /* margin: 0 200px; */
  padding: 0px 20px 20px 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.my-name {
  font-family: "Georgia", serif;
  font-size: 48px;
  /* font-weight: bold; */
  /* color: #4a90e2; */
  color: rgb(192, 61, 61);
  /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
  letter-spacing: 2px;
  /* margin-top: 100px; */
  text-align: right;
  margin: 20px 20px;
  background-color: whitesmoke;
  /* width: 600px; */
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  padding-right: 20px;
}

.box {
  background-color: rgb(232, 239, 248);
  /* margin: 0 200px; */
  padding: 20px 20px 20px 20px;
  /* margin-left: 100px;
  margin-right: 100px; */
}

.space-1 {
  /* width: auto; */
  height: 30px;
  /* background-color: rgb(243, 235, 235); */
  background-color: rgb(189, 236, 247);
  /* margin: 0 0; */
  text-align: center;
  padding: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 10px;
  font-size: 28px;
}

.space-contact {
  /* width: auto; */
  height: 300px;
  /* background-color: rgb(243, 235, 235); */
  background-color: rgb(240, 236, 236);
  /* margin: 0 0; */
  text-align: center;
  padding: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 10px;
  font-size: 28px;
}

.container-1 {
  display: grid;
  /* grid-template-columns: 1fr 60px 120px 100px 90px 50px; */
  grid-template-columns: 1fr 120px 120px 1fr;
  grid-template-rows: 36px 10px;
  /* width: auto;
  margin: 0 0;
  background: white; */
  font-size: 20px;
}

.home {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
  /* font-family: Georgia, serif; */
  font-size: 28px;
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}
.work {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: center;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

/*################## Research site ################################################### */
.MCL {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: grid;
  /* grid-template-columns: 1fr 60px 120px 100px 90px 50px; */
  grid-template-columns: 550px 1fr;
  grid-template-rows: 500px 1fr;
  margin-top: 30px;
  padding: 20px;
}

.img_MCL {
  grid-column: 1/2;
  grid-row: 1/2;
}

.MCL1 {
  grid-column: 2/3;
  grid-row: 1/2;
  border-radius: 10px;
  align-self: start;
  font-size: 20px;
  line-height: 1.4;
}

.Cav {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: grid;
  /* grid-template-columns: 1fr 60px 120px 100px 90px 50px; */
  grid-template-columns: 550px 1fr;
  grid-template-rows: 500px 1fr;
  margin-top: 30px;
  padding: 20px;
}

.img_Cav {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
}

.Cav_description {
  grid-column: 2/3;
  grid-row: 1/2;
  border-radius: 10px;
  align-self: start;
  font-size: 20px;
  line-height: 1.4;
}

/* ################################################################################### */

.publication {
  grid-column: 4/5;
  grid-row: 1/2;
  justify-self: left;
  padding: 10px 20px 10px 20px;
  margin: 20px 20px;
  background-color: white;
  border-radius: 10px;
}

.Conference {
  /* grid-column: 4/5;
  grid-row: 1/2; */
  justify-self: left;
  padding: 10px 20px 10px 20px;
  margin: 20px 20px;
  background-color: white;
  border-radius: 10px;
}

.experience {
  /* grid-column: 4/5;
  grid-row: 1/2; */
  width: 1150px;
  justify-self: left;
  padding: 10px 20px 10px 20px;
  margin: 20px 20px;
  background-color: white;
  border-radius: 10px;
}

.Notes {
  grid-column: 5/6;
  grid-row: 1/2;
  justify-self: center;
  padding: 0px;
  margin: 0px;
}
.contact {
  grid-column: 6/-1;
  grid-row: 1/2;
  justify-self: center;
  padding: 0px;
  margin: 0px;
}

.space-2 {
  /* width: auto;  */

  grid-column: 1/-1;
  grid-row: 2/-1;
  height: 3px;
  /* background-color: rgb(118, 150, 238); */
  background-color: rgb(181, 181, 181);
  align-self: center;
  /* margin: 2px 2px;  */
}

.container-2 {
  background-color: white;
  display: grid;
  grid-template-columns: 300px 1fr;
  /* grid-template-rows: 80px 80px 150px 1fr; */
  grid-template-rows: 80px 1fr;
  padding: 10px 20px 10px 20px;

  /* float: left;
  width: 50px;
  
  height: 20px; */
  text-align: justify;

  /* padding: 0px 400px 6px 0px;
  font-size: 20px;*/
  margin: 20px 20px;
  border-radius: 20px;
}

.name {
  grid-column: 2/-1;
  grid-row: 1/2;
  background-color: rgb(160, 216, 238);
  padding: 10px 0 10px 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.img {
  grid-column: 1/2;
  grid-row: 1/4;
  justify-self: start;
  padding: 30px 20px 10px 40px;
  /* width: 400px; */
  /* margin: 10px 10px; */
  /* border-radius: 70%; */
}

.title {
  grid-column: 2/-1;
  grid-row: 2/3;
}

.intro {
  grid-column: 2/-1;
  grid-row: 2/-1;
  /* width: 650px; */
  /* text-align: justify; */
  /* background-color: rgb(176, 241, 241); */
  /* background-color: rgb(240, 236, 236); */
  /* padding: 10px 10px 10px 10px; */
  border-radius: 10px;
  align-self: start;
  font-size: 20px;
  line-height: 1.4;
}

.paper-listing {
  line-height: 1.8;
  font-size: 18px;
}

.address {
  /* grid-column: 1/2;
  grid-row: 4/-1; */
  grid-column: 4/5;
  grid-row: 1/2;
  padding: 10px 0px 0px 40px;
  margin: 0px;
}

.img_cover {
  object-fit: fill;
}

footer {
  grid-column: 1/-1;
  align-self: end;
  justify-self: center;
  font-size: 14px;
  /* background-color: black;
  color: white; */
}
